body{
    height: 100vh;
    margin: 0;
}
div.bandeau {
    height: 10%;
    background-color: #00eeff;
    text-align: center;
}
div.menu {
    float: left;
    height: 80%;
    width: 20%;
    background-color: #991b7e;
    text-align: center;
}
div.contenu {
    background-color: #ffc400;
    height: 80%;
    margin-left: 20%;
    text-align: center;
}
div.menuhaut {
    height: 50%;
    background-color: #06ff66;
}
div.menubas {
        height: 50%;
        background-color: #a13ebe
}
div.pied {
    height: 10%;
    background-color: #00ff9d;
    text-align: center;
}
div.centre {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
div.float {
    float: left;
    height: 80%;
    width: 100%;
    display: flex;
}
div.blocknews {
    height: 100px;
    width: 100px;
    float: right;
    background-color: #ff0000;

}
